@charset "UTF-08";

@import url(variaveis.css);

body{
    overflow: scroll;
}

.bodySummary{
    background-color: aquamarine;
}

.section1{
    height: 335px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header .  number"
    ". detail .";
    justify-items: center;
    align-items: center;

    position: relative;
}

.buttonReturn{
    grid-area: header;
}

.number{
    grid-area: number;
}


.section1 .detail{
    
    grid-area: detail;
    /* grid-column: span 3; */
    position: absolute;
    right: 15px;

}

.types{
    display: flex;
    gap: 10px;
    width: fit-content;
    
}

.type{
    border: 1px solid transparent;
    background-color: rgb(82, 115, 207);
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    width: 80px;
}

.detail img{
    max-width: 100%;
    margin: 0px 20px 0px;
    padding-top: 40px;
}

.name{
    font-size: 2rem;
    padding: 0px 10px 10px 0px;
}


.section2{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 0px;
    height: 100vh;
    padding-top: 30px;
    
}

.section2 ol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


